:root {
  --text-color: #F5F5F5;
  --main-color: #EB6643;
  --background-color: #252525;
}

@keyframes from_dark {
  0% {
      border-radius: 18px;
      background-color: var(--background-color);
      color: var(--text-color);
      box-shadow: 0px 0px 16px 6px rgba(235,102,67,0.52);
  }
  50% {
    background-color: #252525;
  }
  100% {
      border-radius: 22px;
      background-color: #000000;
      color: var(--main-color);
      box-shadow: 0px 0px 16px 6px rgba(239, 104, 70, 0.827);
  }
}

@keyframes from_brigth {
  0% {
      border-radius: 18px;
      background-color: var(--main-color);
      color: var(--text-color);
      box-shadow: 0px 0px 16px 6px rgba(235,102,67,0.52);
  }
  50% {
    background-color: #252525;
  }
  100% {
      border-radius: 22px;
      background-color: #000000;
      color: var(--main-color);
      box-shadow: 0px 0px 16px 6px rgba(239, 104, 70, 0.827);
  }
}

.keyboard__key.active {
  animation: from_dark 0.1s forwards;
}

.service-key.active {
  animation: from_brigth 0.1s forwards;
}

body {
  margin: 0;
  padding: 0;
}

.body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Righteous', cursive;
}

.container {
  margin: 10px auto;
  max-width: 804px;
  text-align: center;
}

.title {
  color: var(--main-color);
}

.textarea-body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100px;
  margin-bottom: 30px;
  border: none;
  outline: none;
  font-size: 1.4em;
  background-color: #343434;
  padding-left: 10px;
  color: var(--text-color);
  resize: none;
}

.keyboard-body {
  margin-bottom: 40px;
  user-select: none;
}

.keyboard__keys {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0 5px 0;
}

.keyboard__key {
  width: 50px;
  height: 50px;
  background-color: var(--background-color);
  border-radius: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 16px 6px rgba(235,102,67,0.52);
  transition: all 0.1s ease-in-out;
}

.keyboard__key:hover {
  box-shadow: 0px 0px 16px 6px rgba(239, 104, 70, 0.827);
}

.service-key {
  background-color: var(--main-color);
}

.Tab {
  width: 60px;
}

.Delete {
  width: 54px;
}

.keyboard__key_wider {
  width: 110px;
}

.keyboard__key_wide,
.shift:last-child {
  width: 101px;
}

.keyboard__key_extra-wide {
  width: 380px;
}